/*Resetando configs padrão*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*Configurando a Header*/
#index_topo{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}
#index_topo img{
    width: auto;
    height: 120px;
    padding-top: 0.25%;
    padding-bottom: 1%;
}

/*Barra de acessibilidade*/
#acessibilidade{
    width: 100%;
    display: flex;
    background-color: #fff;
}
#atalhos, #funcoes{
    width: 100%;
    display: flex;
    list-style: none;
}
#atalhos{
    justify-content: flex-start;
}
#funcoes{
    justify-content: flex-end;
}
#atalhos li, #funcoes li{
    margin: 0 1.5%;
}
#atalhos li a, #funcoes li a{
    text-decoration: underline;
}

/*Breadcrumb*/
#breadcrumb{
    padding-left: 2%;
    list-style: none;
}
#breadcrumb li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #000;
}
#breadcrumb li+li:before{
    content: "/\00a0 ";
    padding: 6px;
    color: #000;
}
#breadcrumb li a{
    color: #3e3e3e;
}
#breadcrumb li a:hover{
    color: #000;
}
/*Fim Breadcrumb*/
/*fim acessibilidade*/

/*Menu*/
nav{
    width: 100%;
    height: auto;
    background-color: rgb(172, 9, 25);
    float: left;
    margin-bottom: 1%;
}
#menu{
    list-style: none;
}
#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #fff;
    padding-left: 3%;
    padding-right: 3%;
}
#menu li a{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
#menu li:hover{
    background-color: aliceblue;
}
#menu li:hover a{
    color: rgb(172, 9, 25);
}
/*Fim menu*/

/*SubMenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(172, 9, 25);
    display: none;
}
#menu li:hover ul{ /*Exibir submenu*/
    display: block;
}
#menu li ul li{
    border: 1px solid #fff;
    display: block;
    width: 170px;
}
#menu li:hover ul li a{color: aliceblue}
#menu li ul li:hover a{color: rgb(172, 9, 25);}
/*Fim submenu*/
/*Fim config header*/

/*Config rodapé*/
footer{
    margin-top: 1%;
    width: 100%;
    text-align: center;
    background-color: rgb(66, 84, 95);
    color: aliceblue;
}
footer p{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
/*Fim config rodapé*/

/*Config Padrão Conteúdo*/
main{
    min-height: 500px;
    padding-left: 3%;
    padding-right: 3%;
}
h1, h2{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

/*Usado em comentarios, listas ordenadas/não ordenadas e metadados*/
#conteudo_padrao{
    width: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#conteudo_padrao img{
    width: 100%; 
    height: auto; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    border: 2px solid #000;
}

/*Fim Config Padrão Conteúdo*/

/*index.html*/
#conteudo_index{   
    width: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: upper-roman;
    font-weight:bold;
}
#conteudo_index li{
    padding-top: 1%;
}
#video{
    width: 100%;
    height: auto;
    margin-bottom: 1%;
}
/*Fim index.html*/

#listas{
    list-style-type: disc;
    list-style-position: inside;
    width: 225px;
    display:block;
    margin-top: 1%;
    padding-left: 1%;
    background-color: rgb(66, 84, 95);
}
#listas a{
    color: aliceblue;
} 

/*Formulário*/
fieldset{
    border: 2px solid rgb(172, 9, 25);
    margin-bottom: 1%;
    border-radius: 15px;
}
legend{
    margin-left: 2%;
    font-size: 1.5em;
    margin-bottom: 1.1%;
}
label{
    font-size: 1.1em;
    margin-left: 2%;
}
input, select, #mensagem{
    width: 70%;
    margin-left: 2%;
    margin-bottom: 1.1%;
    height: auto;
    font-size: 1em;
    padding: 15px;
}
.botoes{
    display: flex;
    justify-content: center;
}
.botoes input{
    width: 20%;
    background-color: rgb(172, 9, 25);
    border: none;
    color: aliceblue;
    transition: 0.2s;
}
.botoes input:hover{
    border: 1px solid #000;
    background-color: aliceblue;
    color: rgb(172, 9, 25);
}
.required:after{
    content: " *";
    color: red;
}
/*Fim Formulário*/